[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Cutefox Qt5
Exec=/usr/bin/runcutefoxqt5.sh
Icon=/usr/share/cutefox/cutefox-large.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=false
X-Osso-Type=application/x-executable
X-Desktop-File-Install-Version=0.20
