Source: qmlmozbrowser
Section: unknown
Priority: extra
Maintainer: unknown <tmeshkova@github.com>
Build-Depends: debhelper, libqt4-dev | libqt4-opengl-dev | libqtbase5-dev, libqtmozembed-dev, libqjson-dev, libx11-dev
Standards-Version: 3.8.4
Homepage: <insert the upstream URL, if relevant>

Package: qmlmozbrowser
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: qmlmozbrowser-dbg
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, qmlmozbrowser (= ${Source-Version})
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
